<h1>Editing Book</h1>

<%= form_with model: @book, url: books_path(@book.id), method: :patch do |f| %>
  <div class="form">
    <p class="field">Title</p>
    <%= f.text_field :title %>
  </div>

  <div class="form">
    <p class="field">Body</p>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Update Book', class: "btn" %><br>
<% end %>

<span><%= link_to 'Show', books_path(@book.id) %></span>
<span>|</span>
<span><%= link_to 'Back', "/books" %></span>